*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-orange:rgb(209,101,0);
    --main-brown:rgb(132, 85, 61);
}
.prodpic{
    width: 250px;
    height: 250px;
}

.clothes{
    margin:70px;
    column-gap: 50px;
    display:inline-block;
}

.col-4 {
    padding-left: 50px ;
    min-width: 200px;
    margin-bottom: 15px;
    display: inline-block;
    width: calc(100% / 4);
}
.col-4 h4{
    margin-top: 10px;
    margin-bottom: 0px;
}
.col-4 button{
    width:200px;
    display: block;
    background-color:var(--main-orange) ;
    color:white;
    border-radius: 4px;
    border-color: var(--main-brown);
}
.col-4 p{
    font-size: small;
}
.col-4 img{
    width: 200px;
    height: 200px;
}
.order{
    text-align: right;
    margin: 25px;
}
.color{
    display: inline-block;
}
.color button{
    margin:5px;
    width: 15px;
    height: 15px;
}
.pricerange{
    display: inline-block;
}
.pricerange input {
    width: 50px;
}
.filters{
    text-align: right;
    margin-right: 30px;
}
.filters i{
    border:1px black solid;
    border-radius: 5px;
    padding:3px
}
.filter{
    text-align: right;
    padding: 5px;
    width: fit-content;
    margin: auto;
}
.left{
    width: 80%;
    display: inline-block;
    border-right: 2px dashed var(--main-brown);
}
.right{
    margin-top: 86px;
    width:20%;
    display: inline-block;
    vertical-align: top;
    color:var(--main-orange)
}
.filter h3{
    margin-bottom:0%;
    margin-top: 10px;
    font-weight: bold;
    color: var(--main-orange);

}
.pricerange button{
    margin-left: 5px; 
    padding: 2px; 
    border-radius: 5px;
    border:2px var(--main-orange) solid;
    color: var(--main-orange);
    font-weight: bold;
}