<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="navbar">
  <div><img src="../../assets/images/aDresscut.png" width="125px" /></div>
  <nav>
    <ul>
      <li><button routerLink="">Home</button></li>
      <li>
        <button
          class="active"
          routerLink="/product-component"
          style="color: rgb(132, 85, 61)"
        >
          Products
        </button>
      </li>
      <li><button routerLink="/profile-component">Profile</button></li>
    </ul>
  </nav>
</div>

<h1 style="text-align: center; font-weight: bolder; color: rgb(209, 101, 0)">
  Products
</h1>
<div class="clothes">
  <div class="col-4" *ngFor="let pd of prods">
    <img
      src="../../assets/images/products/p{{ pd.src }}.jfif"
      [routerLink]="['product', pd.id]"
    />
    <button style="font-size: 20px">
      <i class="fa fa-shopping-cart"></i>
    </button>
    <h4>{{ pd.name }}</h4>
    <p>{{ pd.price }} €</p>
  </div>
</div>
