.table-body{
    margin:auto;
    width: 95%;
}

table {
    margin:auto;
    width: 100%;
  }


.mat-column-profile{
    text-align:center;
    justify-content: flex-end;
}

.mat-column-answer{
    text-align:center;
    justify-content: flex-end;
}