<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="header">
  <h1>My Order</h1>
</div>
<table
  aria-describedby="My cart"
  class="table table-borderless table-shopping-cart"
>
  <thead class="headers">
    <tr class="small text-uppercase">
      <th scope="col" style="width: 160px">Product</th>
      <th scope="col" style="width: 100px">Quantity</th>
      <th scope="col" style="width: 100px">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products">
      <td>
        <figure class="itemside">
          <figcaption class="info">
            <div class="details1">
              <img
                src="assets/images/products/p{{ p.src }}.jfif"
                class="img-sm"
                alt="Picture of product"
              />
            </div>
            <div class="details2">
              <p>{{ p.name }}</p>
              <p class="text-muted small">Color: {{ p.color }}<br /></p>
            </div>
          </figcaption>
        </figure>
      </td>
      <td>
        <p>1</p>
      </td>
      <td>
        <div class="price-wrap">
          <var class="price">${{ total }}</var>
        </div>
        <!-- price-wrap .// -->
      </td>
    </tr>
  </tbody>
</table>
<div class="information">
  <h1>Delivery information</h1>
  <label> Name</label><br />
  <input type="text" id="i1" value="{{ info.name }}" disabled />
  <br />
  <label>Street number</label><br />
  <input type="text" id="i3" value="{{ info.snum }}" disabled /><br />
  <label>Street name</label><br />
  <input type="text" id="i4" value="{{ info.sname }}" disabled /><br />
  <label>Postcode</label><br />
  <div class="pc">
    <input type="number" id="i5" value="{{ info.postcode1 }}" disabled />
    &nbsp;&nbsp;-&nbsp;&nbsp;
    <input type="number" id="i6" value="{{ info.postcode2 }}" disabled /><br />
  </div>
  <label>City</label><br />
  <input type="text" id="i7" value="{{ info.city }}" disabled /><br />
  <div class="buttons">
    <em
      class="fa fa-pencil-square-o fa-3x"
      aria-hidden="true"
      (click)="enableinput()"
    ></em>
    <button class="confirm" (click)="complete()" routerLink="/profile">
      Confirm
    </button>
  </div>
</div>
