<!-- Mapa-->
<section style="background-color: #eee;">
  <div class="container py-5">
      <div class="row">
        <div class="col-lg-6">

          <div class="col-md-12">
            <div class="card mb-4 mb-md-0">
              <div class="card-body" style="width:50px;">
                <app-delivery-barchart></app-delivery-barchart>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4 mb-md-4">
              <div class="card-body">
                <app-deliveryTime-barchart></app-deliveryTime-barchart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h1></h1>
      </div>
</section>
<!-- Outras Estatisticas-->
<section style="background-color: #eee;">
  <div class="container py-5">

    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5">
            <p class="mb-0">Entregas Totais</p>
          </div>
          <div class="col-sm-2">
            <p class="text-muted mb-0">8794</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-5">
            <p class="mb-0">Entregas Canceladas</p>
          </div>
          <div class="col-sm-5">
            <p class="text-muted mb-0">73</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-5">
            <p class="mb-0">Entregas Atrasadas</p>
          </div>
          <div class="col-sm-2">
            <p class="text-muted mb-0">1566</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



