<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="orders">
  <div class="infos">
    <h1>Information</h1>
    <label> Name</label><br />
    <input type="text" id="i1" value="{{ info.name }}" disabled />
    <br />
    <label> Date of Birth</label><br />
    <input type="date" id="i2" value="{{ info.dob }}" disabled /><br />
    <label>Street number</label><br />
    <input type="text" id="i3" value="{{ info.snum }}" disabled /><br />
    <label>Street name</label><br />
    <input type="text" id="i4" value="{{ info.sname }}" disabled /><br />
    <label>Postcode</label><br />
    <div class="pc">
      <input type="number" id="i5" value="{{ info.postcode1 }}" disabled />
      &nbsp;&nbsp;-&nbsp;&nbsp;
      <input
        type="number"
        id="i6"
        value="{{ info.postcode2 }}"
        disabled
      /><br />
    </div>
    <label>City</label><br />
    <input type="text" id="i7" value="{{ info.city }}" disabled />

    <br /><button class="confirm" id="confirmchanges" (click)="save()">
      Save
    </button>
    <button class="confirm" id="cancelchanges" (click)="cancel()">Cancel</button
    ><br />
    <em
      class="fa fa-pencil-square-o fa-3x"
      aria-hidden="true"
      (click)="enableinput()"
    ></em>
    <br />
  </div>
  <br />
  <h1>My orders</h1>
  <table aria-describedby="My orders">
    <tr>
      <th><h2>Order</h2></th>
      <th><h2>Date</h2></th>
      <th><h2>Total</h2></th>
      <th><h2>State</h2></th>
      <th><h2>Track</h2></th>
    </tr>
    <tr *ngFor="let od of orders">
      <td>{{ od.code }}</td>
      <td>{{ od.date }}</td>
      <td>$ {{ od.total }}</td>
      <td>{{ od.status }}</td>
      <td>
        <i
          class="fa fa-search"
          aria-hidden="true"
          [hidden]="od.status == 'Delivered'"
          [routerLink]="['track', od.code]"
        ></i>
      </td>
    </tr>
  </table>
  <br /><br /><br />
</div>
