<section style="background-color: #eee;">
  <div class="container py-5">


    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">José António</h5>
            <p class="text-muted mb-1">Tel: 933917501</p>
            <p class="text-muted mb-4">Email: joseantonio@gmail.com</p>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-5">
                <p class="mb-0">Estado</p>
              </div>
              <div class="col-sm-5">
                <p class="text-muted mb-0">Em Entrega</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-5">
                <p class="mb-0">Entregas Totais</p>
              </div>
              <div class="col-sm-2">
                <p class="text-muted mb-0">857</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-5">
                <p class="mb-0">Entregas Canceladas</p>
              </div>
              <div class="col-sm-5">
                <p class="text-muted mb-0">5</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-5">
                <p class="mb-0">Entregas Atrasadas</p>
              </div>
              <div class="col-sm-2">
                <p class="text-muted mb-0">12</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Mapa-->
      <div class="col-lg-8">
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">Ratings</span>
                </p>
                <p class="mb-1" style="font-size: .77rem;">Amigável</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Entrega Perfeita</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Entrega Cuidadosa</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <div class="card mb-4 mb-md-0">
              <div class="card-body" style="width:50px;">
                <app-delivery-barchart></app-delivery-barchart>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


