*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-orange:rgb(209,101,0);
    --main-brown:rgb(132, 85, 61);
}

.navbar {
    display:flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 10px;
    border-bottom: 4px sandybrown groove;
    margin-bottom:30px;
}
nav{
    flex:1;
    text-align: right ;
}
nav ul{
    display:inline-block;
    list-style-type: none;vertical-align: middle;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;vertical-align: middle;
}

.option{
    font-size: large;
    color: var(--main-orange);
    font-weight: bold;
    padding: 5px;
    background-color: white;
    border: white;
} 

.active .option{
    color : rgb(132, 85, 61);
}