*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-orange:rgb(209,101,0);
    --main-brown:rgb(132, 85, 61);
}
.bottom {
    margin-left: 30px;
}
.bottom button{
    border: 3px solid var(--main-brown);
    margin-top: 25px;
    padding:10px;
    color: var(--main-orange);
    font-weight: bold;
    border-radius: 10px;
    background-color: white;
}
.product{
    text-align: center;
}
.it{
    font-style: italic;
}
.product button{
    width:200px;
    display: block;margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color:var(--main-orange) ;
    color:white;
    border-radius: 4px;
    border-color: var(--main-brown);}

.product h1{
    font-weight: bolder; color: rgb(209, 101, 0)
}
.product img{
    width: 200px;
    height: 200px;
}