<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="navbar">
  <div><img src="../../assets/images/aDresscut.png" width="125px" /></div>
  <nav>
    <ul>
      <li>
        <button routerLink="">Home</button>
      </li>
      <li>
        <button routerLink="">Products</button>
      </li>
      <li><button routerLink="/profile-component">Profile</button></li>
    </ul>
  </nav>
</div>
<div class="top">
  <button routerLink="">Return</button>
</div>
<div class="product">
  <h1>{{ pd.name }}</h1>
  <img src="../../assets/images/products/p{{ pd.src }}.jfif" />
  <h3>{{ pd.price }} €</h3>
  <h3 class="it">{{ pd.color }} , {{ pd.class }} , {{ pd.gender }}</h3>
  <button style="font-size: 20px">
    <i class="fa fa-shopping-cart"></i>
  </button>
</div>
