<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="product">
  <h1>{{ pd.name }}</h1>
  <img
    alt="picture of product"
    src="../../assets/images/products/p{{ pd.src }}.jfif"
  />
  <h3>{{ pd.price }} €</h3>
  <h3 class="it">{{ pd.color }} , {{ pd.class }} , {{ pd.gender }}</h3>
  <button style="font-size: 20px" (click)="addToCart(pd)">
    <em class="fa fa-cart-plus"></em>
  </button>
</div>
<div class="bottom">
  <button routerLink="/products">Return</button>
</div>
